* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main-container {
    font-family: Halvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
}

.title-heading {
    font-size: 2rem;
    padding: 2rem;
    font-weight: bold;
}

.ordinary-button,
#new-book-dialog,
input,
table {
    border-radius: 8px;
}

.ordinary-button {
    align-self: end;
    margin-bottom: 1rem;
    padding: 0.5rem 3rem;
    border: 1px solid grey;
}

#new-book-dialog {
    align-self: center;
    justify-self: center;
    padding: 1rem 2rem;
    position: relative;
}

::backdrop {
    background-color: black;
    opacity: 50%;
}

label,
input {
    display: block;
}

label {
    text-align: left;
    font-size: 1.2rem;
    padding: 0.2rem 0;
}

input {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid grey;
    margin-bottom: 0.5rem;
}

#checkbox-container {
    display: flex;
    align-content: center;
    gap: 2rem;
}

#read-status {
    margin-bottom: 0;
    transform: scale(1.25);
}

#add-book-button {
    margin-top: 1rem;
    width: 100%;
}

#close-dialog-button {
    background: none;
    border: none;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    position: absolute;
    inset-block-start: 5px;
    inset-inline-end: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #343a3e;
}

th {
    padding: 1rem 0;
    color: white;
}

tbody > tr:nth-child(1n+1) {
    background-color: white;
    border: 1px solid grey;
}

tbody > tr:nth-child(2n+2) {
    background-color: lightgrey;
}

td {
    padding: 1rem 0;
}
